.burger-menu {
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	width: 24px;
	height: 24px;
	margin-right: 1rem;

	&:hover {
		cursor: pointer;
		transition: opacity 0.2s linear;
		opacity: 0.5;
	}
}

@import '__part/_burger-menu__part.scss';
