$FontPathRoboto: '../fonts/Roboto';

@mixin FontDef-ttf($FontPath, $FontName) {
	font-family: $FontName;
	src: url('#{$FontPath}/#{$FontName}.ttf') format('truetype');
}

@mixin ApplyFont (
	$font-family: Arial,
	$font-size: 14px,
	$line-height: 24px,
	$letter-spacing: normal,
	$color: $main-color
) {
	font-family: $font-family;
	font-size: $font-size;
	line-height: $line-height;
	letter-spacing: $letter-spacing;
	color: $color;
}
