.burger-menu__part {
	display: block;
	transition: all 0.4s ease;
	margin-bottom: 8px;
	height: 2px;
	background-color: $main-color;
	transform-origin: top left;

	&:nth-child(1) {
		margin-top: 5px;
		width: 20px;
	}

	&:nth-child(2) {
		width: 32px;
	}

	&:nth-child(3) {
		width: 24px;
		margin-bottom: 5px;
	}
}
