.burger-menu__part {
	display: block;
	transition: all 0.4s ease;
	margin-bottom: 6px;
	height: 2px;
	width: 100%;
	background-color: $main-color;
	transform-origin: top left;

	&:last-child {
		margin-bottom: 0;
	}
}
