.header {
	height: $header-height;
	background-color: $header-color;
	box-shadow: 0 2px 4px 1px rgba(0,0,0,0.25);
}

@import '__wrapper/_header__wrapper.scss';
@import '__nav-left/_header__nav-left.scss';
