.burger-menu--open {
	.burger-menu__part {
		&:nth-child(1) {
			transform: translate(3px, -3px) rotate(45deg);
			width: 38px;
		}

		&:nth-child(2) {
			transform: scale(0);
			transform-origin: center center;
		}

		&:nth-child(3) {
			transform: translate(2px, 4px) rotate(-45deg);
			width: 38px;
		}
	}
}
