.sidebar {
	margin: 0px;
	padding: 0;
	list-style-type: none;

	transform: translateX(-105%);
	transition: transform $sidebar-toggle-transition-time ease-in;

	position: absolute;
	top: 64px;
	bottom: 0;
	width: $sidebar-width;

	box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.15);
}

@import '--open/sidebar--open.scss';
@import '__item/sidebar__item.scss';
@import '__item--active/sidebar__item--active.scss';
@import '__link/sidebar__link.scss';
